version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
  - package-ecosystem: "docker"
    directory: "pkg/config/templates"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "supabase/postgres"
        versions:
          - 13.x
          - 14.x
      - dependency-name: "library/kong"
      - dependency-name: "inbucket/inbucket"
      - dependency-name: "darthsim/imgproxy"
      - dependency-name: "timberio/vector"
