version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      action-minor:
        update-types:
          - minor
          - patch
  - package-ecosystem: "gomod"
    directories:
      - "/"
      - "pkg"
    schedule:
      interval: "daily"
    groups:
      go-minor:
        update-types:
          - minor
          - patch
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      npm-minor:
        update-types:
          - minor
          - patch
  - package-ecosystem: "docker"
    directory: "pkg/config/templates"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "fix(docker): "
    groups:
      docker-minor:
        exclude-patterns:
          - supabase/logflare
        update-types:
          - minor
          - patch
    ignore:
      - dependency-name: "library/kong"
      - dependency-name: "axllent/mailpit"
      - dependency-name: "darthsim/imgproxy"
      - dependency-name: "timberio/vector"
