version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "cron"
      cronjob: "0 0 * * *"
    groups:
      actions-major:
        patterns:
          - "*"
  - package-ecosystem: "gomod"
    directories:
      - "/"
      - "pkg"
    schedule:
      interval: "cron"
      cronjob: "0 0 * * *"
    groups:
      go-minor:
        update-types:
          - minor
          - patch
        exclude-patterns:
          - github.com/compose-spec/compose-go/v2
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "cron"
      cronjob: "0 0 * * *"
    groups:
      npm-major:
        patterns:
          - "*"
  - package-ecosystem: "docker"
    directory: "pkg/config/templates"
    schedule:
      interval: "cron"
      cronjob: "0 0 * * *"
    commit-message:
      prefix: "fix(docker): "
    groups:
      docker-minor:
        update-types:
          - minor
          - patch
    ignore:
      - dependency-name: "library/kong"
      - dependency-name: "axllent/mailpit"
      - dependency-name: "darthsim/imgproxy"
      - dependency-name: "timberio/vector"
