name: CI

on:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    name: Test
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v3
        with:
          go-version: 1.18

      - run: |
          if [ ! -z $(gofmt -l .) ]; then echo 'Make sure to run "go fmt ./..." before commit!' && exit 1; fi
          mkdir  /home/runner/.supabase && chown -R runner /home/runner/.supabase
          go test ./... -race -v -count=1 -coverpkg ./cmd/...,./internal/...,./pkg/... -coverprofile=coverage.out
          go tool cover -func coverage.out | grep total

      - uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: coverage.out

  lint:
    name: Lint
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v3
        with:
          go-version: 1.18

      - uses: golangci/golangci-lint-action@v3
        with:
          version: v1.47
