name: Install

on:
  push:
    paths:
      - '.github/workflows/install.yml'
      - 'package.json'
      - 'scripts/**'

jobs:
  pack:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - run: |
          jq -c '.version = "1.28.0"' package.json > tmp.$$.json
          mv tmp.$$.json package.json
          npm pack

      - uses: actions/upload-artifact@v3
        with:
          name: installer
          path: supabase-1.28.0.tgz

  install:
    needs: pack
    strategy:
      matrix:
        pm: [npm, yarn, pnpm]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: installer

      - run: npm init -y

      - if: ${{ matrix.pm == 'npm' }}
        run: npm i --save-dev ./supabase-1.28.0.tgz

      - if: ${{ matrix.pm == 'yarn' }}
        run: yarn add -D ./supabase-1.28.0.tgz

      - if: ${{ matrix.pm == 'pnpm' }}
        run: pnpm i --save-dev ./supabase-1.28.0.tgz

      - run: npx supabase --version
