name: Sync Docker Hub to ECR

on:
  workflow_dispatch:

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      tags: ${{ steps.list.outputs.tags }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.18
      - id: list
        run: |
          echo "::set-output name=tags::$(go run tools/listdep/main.go)"

  mirror:
    runs-on: ubuntu-latest
    needs:
      - setup
    strategy:
      matrix:
        src: ${{ fromJson(needs.setup.outputs.tags) }}
    steps:
      - id: strip
        run: |
          TAG=${{ matrix.src }}
          echo "::set-output name=dst::${TAG##*/}"
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Login to ECR
        uses: docker/login-action@v2
        with:
          registry: public.ecr.aws
          username: ${{ secrets.PROD_ACCESS_KEY_ID }}
          password: ${{ secrets.PROD_SECRET_ACCESS_KEY }}
      - uses: akhilerm/tag-push-action@v2.0.0
        with:
          src: docker.io/${{ matrix.src }}
          dst: public.ecr.aws/t3w2s2c9/${{ steps.strip.outputs.dst }}
