name: Release

on:
  push:
    branches:
      - main
  workflow_call:

permissions:
  contents: write
  packages: write

jobs:
  settings:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    outputs:
      release_tag: ${{ steps.prerelease.outputs.tagName }}
      app_token: ${{ steps.app-token.outputs.token }}
    steps:
      - uses: actions/checkout@v6
      - id: prerelease
        run: |
          gh release list --limit 1 --json tagName --jq \
          '.[]|to_entries|map("\(.key)=\(.value|tostring)")|.[]' >> $GITHUB_OUTPUT
      - run: gh release edit ${{ steps.prerelease.outputs.tagName }} --latest --prerelease=false
      - id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: |
            cli
            homebrew-tap
            scoop-bucket
            supabase

  commit:
    name: Publish Brew and Scoop
    needs:
      - settings
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true
      - run: go run tools/publish/main.go ${{ needs.settings.outputs.release_tag }}
        env:
          GITHUB_TOKEN: ${{ needs.settings.outputs.app_token }}

  publish:
    name: Publish NPM
    needs:
      - settings
    uses: ./.github/workflows/tag-npm.yml
    with:
      release: ${{ needs.settings.outputs.release_tag }}
    secrets: inherit

  compose:
    name: Bump self-hosted versions
    needs:
      - settings
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true
      - run: go run tools/selfhost/main.go
        env:
          GITHUB_TOKEN: ${{ needs.settings.outputs.app_token }}

  changelog:
    name: Publish changelog
    needs:
      - settings
      - commit
      - publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true
      - run: go run tools/changelog/main.go ${{ secrets.SLACK_CHANNEL }}
        env:
          GITHUB_TOKEN: ${{ needs.settings.outputs.app_token }}
          SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}

  docs:
    name: Publish reference docs
    needs:
      - settings
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true
      - run: go run docs/main.go ${{ needs.settings.outputs.release_tag }} | go run tools/bumpdoc/main.go apps/docs/spec/cli_v1_commands.yaml
        env:
          GITHUB_TOKEN: ${{ needs.settings.outputs.app_token }}
