name: Release

on:
  release:
    types:
      - released

jobs:
  commit:
    name: Publish Brew and Scoop
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version-file: go.mod
          cache: true
      - run: go run tools/publish/main.go "${GITHUB_REF_NAME#v}"
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}

  publish:
    name: Publish NPM
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "16.x"
          registry-url: "https://registry.npmjs.org"
      - run: npm dist-tag add "supabase@${GITHUB_REF_NAME#v}" latest
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  compose:
    name: Publish self-hosted
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version-file: go.mod
          cache: true
      - run: go run tools/selfhost/main.go "cli/${GITHUB_REF_NAME#v}"
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}

  changelog:
    name: Publish changelog
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version-file: go.mod
          cache: true
      - run: go run tools/changelog/main.go
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
