name: Release

on:
  workflow_call:
    inputs:
      release:
        required: true
        type: string
  workflow_dispatch:
    inputs:
      release:
        description: "v1.0.0"
        required: true
        type: string

permissions:
  contents: read

jobs:
  commit:
    name: Publish Brew and Scoop
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true
      - id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: |
            homebrew-tap
            scoop-bucket
      - run: go run tools/publish/main.go ${{ inputs.release }}
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}

  compose:
    name: Bump self-hosted versions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true
      - id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: |
            supabase
      - run: go run tools/selfhost/main.go
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}

  changelog:
    name: Publish changelog
    needs:
      - commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true
      - id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: |
            supabase
      - run: go run tools/changelog/main.go ${{ secrets.SLACK_CHANNEL }}
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
          SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}

  docs:
    name: Publish reference docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true
      - id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: |
            supabase
      - run: go run docs/main.go ${{ inputs.release }} | go run tools/bumpdoc/main.go apps/docs/spec/cli_v1_commands.yaml
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
