name: Tag NPM

on:
  workflow_call:
    inputs:
      release:
        required: true
        type: string
  workflow_dispatch:
    inputs:
      release:
        description: "v1.0.0"
        required: true
        type: string

permissions:
  contents: read
  id-token: write

jobs:
  tag:
    name: Move latest tag
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "16.x"
          registry-url: "https://registry.npmjs.org"

      # Ensure npm 11.5.1 or later is installed for trusted publishing support
      - name: Update npm
        run: npm install -g npm@latest

      - run: npm dist-tag add "supabase@${RELEASE_TAG#v}" latest
        env:
          RELEASE_TAG: ${{ inputs.release }}
